
<main class="main">
  <div class="content">
    <h1>{{title}}</h1>
  </div>
  <app-stand-alone-example></app-stand-alone-example>
  <app-profile-photo></app-profile-photo>

  3. Selector de tipo Atributo
  <p app-attribute-selector>Pase el cursor sobre este texto para ver el efecto resaltado.</p>
  <div app-attribute-selector>
    <p>Pase el cursor sobre este div para ver el efecto resaltado.</p>
  </div>

  3. Selector de tipo Atributo: ejemplo con tootltips
  <button appTooltip tooltipText="Este es un tooltip">Pasa el cursor sobre mí.</button>
  <div appTooltip tooltipText="Este es otro tooltip en un div">
    Pasa el cursos sobre el div para ver el tooltip.
  </div>

  <br><br>4. Selector de clase:
  <p class="warning-message">Este es un mensaje de error.</p>
  <div class="warning-message">
    <p>Otro error, pero dentro de un div.</p>
  </div>

  <br><br>
  <p>5. Ciclo de vida de un componente, inspeccione la consola.</p>
  <div>
    <p>Lifecycle Component</p>
    <button (click)="toggleChild()">Toggle Child Component</button>
    <app-life-cycle *ngIf="showChild"></app-life-cycle>
  </div>

  <br><br>
  <p>6. Herencia</p>
  <app-custom-base-basic></app-custom-base-basic>

  <br><br>
  <p>7. Herencia</p>
  <app-alumno [nombre]="'Juan'" [edad]="20"></app-alumno>
</main>

<router-outlet />
